.dark-mode {
  background-color: black;
  color: white;
}

#dark-gg {
	float: right;
	margin-right: 1%;
	background-color: Transparent;
	color: white;
	border: none;
	display: none;
	margin-top: 1%;
}

#dark-ggm {
	float: right;
	background-color: Transparent;
	display: none;
	float: left;
	color: white;
	border: none;
}

.dark-gonderi {
	width: 100%;
	background-color: Transparent;
	float: left;
	flex: 70%;
	margin-top: 2%;
	border-bottom-style: solid;
	border-bottom-color: purple;
	border-width: 5px;
	display: none;
}